.row.justify-content-md-center
  .col-2
    .block.block-rounded.p-3
      .block-content
        -#.form-group
          %span{data: { reflex: "click->TradingLocationAddressReflex#new" } } Add Trading Location Address
        .form_actions
          = link_to 'Back', uw_coverholder_registered_address_path(@resource.coverholder_id)
      .block-content
        %b Registered address
        = render partial: 'uw/registered_addresses/show', locals: {address: @parent.registered_address}
      - if @resources.length > 0
        .block-content
          %b Trading location(s)
          = render partial: 'uw/trading_location_addresses/show', collection: @resources, as: :address
  .col-5
    .block.block-rounded.p-3
      .block-header
        .step.mr-3.active.ml-5
          %span.bs-stepper-circle 1
        .bs-stepper-line
        .step.ml-3.mr-3.active
          %span.bs-stepper-circle 2
        .bs-stepper-line
        .step.ml-3.mr-6
          %span.bs-stepper-circle 3
      .block-content.border-bottom.font-weight-bold.font-size-h4
        Add Trading Location
      .block-content
        = render partial: 'uw/trading_location_addresses/form', locals: { trading_location_address: @resource}

= render partial: 'uw/trading_location_addresses/modal_form', locals: {trading_location_address: @trading_location_address} if @trading_location_address
= render partial: 'uw/registered_addresses/modal_form', locals: {registered_address: @registered_address} if @registered_address
= render partial: 'uw/contacts/modal_form', locals: {contact: @contact} if @contact